@import "_oa";

@include font-face("icomoon", font-files("site/fonts/icomoon.eot", "site/fonts/icomoon.woff", "site/fonts/icomoon.ttf", "site/fonts/icomoon.svg"));
[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon", Arial, "微軟正黑體", "Microsoft JhengHei", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; speak: none; font-style: normal; font-weight: normal; font-variant: normal;
  @include font-smoothing(antialiased);
}

.icon-13:before {
  content: "\e013";
}
.icon-14:before {
  content: "\e014";
}
.icon-12:before {
  content: "\e012";
}
.icon-2:before {
  content: "\e002";
}
.icon-1:before {
  content: "\e001";
}
.icon-11:before {
  content: "\e011";
}
.icon-8:before {
  content: "\e008";
}
.icon-6:before {
  content: "\e006";
  color: #b3b3b3;
}
.icon-5:before {
  content: "\e005";
}
.icon-10:before {
  content: "\e010";
}
.icon-9:before {
  content: "\e009";
}
.icon-7:before {
  content: "\e007";
}
.icon-3:before {
  content: "\e003";
}
.icon-4:before {
  content: "\e004";
}