@import "_oa";

#main {
  margin: 30px auto;
  
  .container {
    > header {
      display: inline-block;
      width: 100%;
      @include clearfix();
      
      > * {
        float: left;
        display: inline-block;
        max-width: calc(100% - 230px);
        
        + * {
          float: right;
          width: 230px;
        }
      }
      h2 {
        display: inline-block;
        font-size: 33px;
        @include background-image(linear-gradient(transparent 65%, rgba(210, 180, 140, 1.00) 70%));
      }
      div {
        @include clearfix();
        
        > * {
          float: right;
          + * {
            margin-right: 12px;
          }
        }
      }
    }
    > article {
      display: inline-block;
      width: 100%;
      margin-top: 50px;
      font-size: 18px;
      text-align: left;
      > * {
        display: inline-block;
        width: 100%;
      }
      > p {
        margin: 0;
        margin-top: 20px;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}

#banner, #maps, #table {
  display: inline-block;
  width: 700px;
  height: 300px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

#maps {
  background-color: rgba(221, 221, 221, 1.00);
  
  position: relative;
  width: 700px;
  height: 300px;
  overflow: hidden;
  background-color: rgba(229, 227, 223, 1.00);

  &.show {
    &:before, &:after {
      content: '';
      position: absolute;
      display: inline-block;
      z-index: 2;
    }
    &:before {
      top: -1px;
      width: 100%;
      height: 1px;
      @include box-shadow(0 0 5px rgba(39, 40, 34, .5));
    }
    &:after {
      top: 0;
      left: -1px;
      width: 1px;
      height: 100%;
      @include box-shadow(0 0 5px 1px rgba(39, 40, 34, .5));
    }
  }

  &:not(.show) {
    &:before {
      content: '地圖初始中，請稍候..';
      position: absolute;
      left: calc(50% - 200px / 2);
      top: calc(50% - 32px / 2);
      display: inline-block;
      width: 200px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      font-weight: bold;
      color: rgba(150, 150, 150, 1);
      z-index: 3;
      @include text-shadow(1px 1px 1px white);
    }
    > * {
      display: none;
    }
  }

  > .map {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(200, 200, 200, 1.00);
    z-index: 1;

    .gmnoprint.gm-bundled-control, .gm-style-cc, a[href^="http://maps.google.com/maps"], a[href^="https://maps.google.com/maps"] {
      display: none !important;
    }
  }

  > .zoom {
    position: absolute;
    z-index: 2;

    bottom: 8px;
    right: 8px;
    width: 36px;
    height: 36px * 2 + 1px;
    
    background-color: white;
    padding-left: 4px;
    padding-right: 4px;

    @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.3));
    @include border-radius(3px);
    
    &:after {
      content: '';
      position: absolute;
      top: 36px + 1px;
      left: 5px;
      display: inline-block;
      width: calc(100% - 5px * 2);
      height: 1px;
      background-color: #dcdcdc;
    }

    label {
      text-decoration: none;
      display: inline-block;
      width: 100%;
      height: 36px;
      line-height: 36px;
      text-align: center;

      color: #6f6f6f;
      font-weight: bold;
      cursor: pointer;
      font-size: 16px;
      background-color: white;
      @include transition(color .3s);
      
      &:hover {
        color: #323232;
      }
    }
  }
}

.banner {
  $max-n: 10; //  項目最多幾個

  position: relative;
  display: inline-block;

  
  .items {
    position: relative;
    z-index: 1;

    display: inline-block;
    width: 100%;
    height: 100%;

    overflow: hidden;
    
    .item {
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;
      height: 100%;

      background-color: white;

      @include transition(left .3s);
    }
  }

  a {
    position: absolute;
    top: 0;
    z-index: 2;
    
    display: inline-block;
    width: 32px;
    height: 100%;
    cursor: pointer;
    text-align: center;
    
    background-color: rgba(39, 40, 34, .300);
    @include transition(background-color .3s);

    &:before {
      position: absolute;
      top: calc(50% - 32px / 2);
      left: 0;
      display: inline-block;
      width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      font-size: 32px;
      color: white;

      font-family: "icomoon";
    }
    
    &.left {
      left: 0;
      &:before {
        content: '\e002';
      }
    }
    &.right {
      right: 0;
      &:before {
        content: '\e001';
      }
    }
    &:hover {
      background-color: rgba(39, 40, 34, .500);
    }
    &:active {
      background-color: rgba(255, 99, 71, 1.00);
    }
  }
  .pages {
    $w: 12px; // 點的寬高

    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 2;
    
    display: inline-block;
    width: 100%;
    height: $w;

    text-align: center;

    > div {
      display: inline-block;
      margin: 0 auto;
      @include clearfix();
      
      > label {
        display: inline-block;
        width: 36px;
        height: $w;
        margin: 0 3px;
        cursor: pointer;

        background-color: rgba(39, 40, 34, .300);

        @include transition(background-color .3s);


        &:hover { // 滑過
          background-color: rgba(39, 40, 34, .500);
        }
      }
    }
  }

  $max-unit: 10; //  data-unit 最大值
  @for $i from 1 through $max-unit {
    @include range-width(0, 450px) {
      width: 100%;
      &[data-unit='#{$i}'] {
        .items {
          .item {
            width: 100%;

            @for $j from 1 through $max-n {
              &:nth-child(#{$j}) {
                left: calc(#{($j - 1)} * 100%);
              }
            }
          }
        }
        
        $p: $max-n;

        @for $j from 1 through $p {
          &[data-page='#{$j}'] {
            .items {
              .item {
                @for $k from 1 through $max-n {
                  &:nth-child(#{$k}) {
                    left: calc(#{($k - $j)} * 100%);
                  }
                }
              }
            }

            .pages {
              > div {
                > label {
                  @for $k from 1 through $p {
                    &:nth-child(#{$k}) {
                      @if $k == $j {
                        // 當頁下的點顏色
                        background-color: rgba(255, 99, 71, 1.00);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    };
    @include range-width(450px) {
      &[data-unit='#{$i}'] {
        .items {
          .item {
            width: calc(100% / #{$i});

            @for $j from 1 through $max-n {
              &:nth-child(#{$j}) {
                left: calc(#{($j - 1)} * (100% / #{$i}));
              }
            }
          }
        }
        
        $p: ceil($max-n / $i);

        @for $j from 1 through $p {
          &[data-page='#{$j}'] {
            .items {
              .item {
                @for $k from 1 through $max-n {
                  &:nth-child(#{$k}) {
                    left: calc(#{($k - ($j - 1) * $i - 1)} * (100% / #{$i}));
                  }
                }
              }
            }

            .pages {
              > div {
                > label {
                  @for $k from 1 through $p {
                    &:nth-child(#{$k}) {
                      @if $k == $j {
                        // 當頁下的點顏色
                        background-color: rgba(255, 99, 71, 1.00);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    };
  }
}

#table {
  display: table;
  border-spacing: 3px;
  table-layout: fixed;
  height: auto;

  > div {
    display: table-row;

    span, &:before {
      display: table-cell;
      padding: 10px;
      background-color: rgba(255, 255, 255, 1.00);
      border: 1px solid rgba(204, 204, 204, 1.00);
      font-size: 14px;
    }
    &:before {
      content: attr(data-title);
      width: 200px;
      vertical-align: middle;
      background-color: rgba(245, 219, 171, 1.00);
      border: 1px solid rgba(245, 219, 171, 1.00);
      font-weight: bold;
    }
    span {
      text-align: left;
    }
  }
}