*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: antialiased; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; }

html { position: relative; }
html body { position: relative; display: inline-block; width: 100%; margin: 0; padding: 0; text-align: center; background: white; font-size: 12px; color: #555; }
html body::-moz-selection { color: white; background-color: #78baff; }
html body::selection { color: white; background-color: #78baff; }
html body > * { display: inline-block; width: 100%; }

.container { display: inline-block; width: 100%; max-width: 1000px; margin: 0 auto; }

#header > * { display: inline-block; width: 100%; }
#header .top { height: 22px; line-height: 22px; color: white; background-color: #ffa273; }
#header .top h1 { font-size: 12px; margin: 0; padding: 0; font-weight: normal; }
#header .top .container { text-align: right; }
#header .logo { margin-top: 20px; }
#header .logo .container { text-align: left; }
#header .logo .container > a { display: inline-block; width: auto; width: 160px; }
#header .logo .container > a img { width: 100%; }

#nav { margin-top: 30px; }
#nav .container { padding-bottom: 20px; border-bottom: 1px solid #cccccc; *zoom: 1; }
#nav .container:after { display: table; content: ""; line-height: 0; clear: both; }
#nav .container > * { float: left; position: relative; display: inline-block; height: 22px; line-height: 22px; }
#nav .container > * + * { margin-left: 20px; }
#nav .container > * + *:before { position: absolute; top: 0; left: -20px; display: inline-block; width: 20px; height: 22px; line-height: 22px; text-align: center; font-family: "icomoon"; content: "\e001"; }
#nav .container a { color: #e7616a; -moz-transition: opacity 0.3s; -o-transition: opacity 0.3s; -webkit-transition: opacity 0.3s; transition: opacity 0.3s; }
#nav .container a:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }
#nav .container span { color: #555555; }

#footer { background-color: #ffa273; }
#footer .container { text-align: right; }
#footer .container > a { display: inline-block; width: auto; width: 100px; margin: 20px 20px 20px 0; }
#footer .container > a img { width: 100%; -webkit-filter: brightness(100); filter: brightness(100); }

.like, .go-comment { display: inline-block; height: 36px; line-height: 36px; padding: 0 12px; font-size: 18px; font-weight: bold; border: 1px solid #0173a8; background-color: white; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; text-transform: uppercase; cursor: pointer; text-decoration: none; }
.like:before, .go-comment:before { font-family: "icomoon"; display: inline-block; margin-right: 8px; -moz-transform: scale(1.8, 1.8); -ms-transform: scale(1.8, 1.8); -webkit-transform: scale(1.8, 1.8); transform: scale(1.8, 1.8); margin-top: -5px; font-weight: normal; color: #0173a8; content: '\e006'; }

.go-comment { color: #555555; -moz-transition: background-color 0.3s; -o-transition: background-color 0.3s; -webkit-transition: background-color 0.3s; transition: background-color 0.3s; }
.go-comment:hover { background-color: #ccefff; }

.like { border: 1px solid #ea5549; }
.like:before { content: '\e003'; color: #ea5549; -moz-transform: scale(1.5, 1.5); -ms-transform: scale(1.5, 1.5); -webkit-transform: scale(1.5, 1.5); transform: scale(1.5, 1.5); margin-top: 0; }
.like.ed:before { content: '\e004'; }

.pagination { display: inline-block; width: 100%; text-align: center; }
.pagination > div { display: inline-block; margin: 0 auto; *zoom: 1; }
.pagination > div:after { display: table; content: ""; line-height: 0; clear: both; }
.pagination > div > * { display: inline-block; float: left; width: 30px; height: 30px; line-height: 30px; font-size: 12px; text-decoration: none; border: 1px solid #cccccc; background-color: white; color: #555555; -moz-transition: background-color 0.3s, color 0.3s; -o-transition: background-color 0.3s, color 0.3s; -webkit-transition: background-color 0.3s, color 0.3s; transition: background-color 0.3s, color 0.3s; }
.pagination > div > * + * { margin-left: 14px; }
.pagination > div > *:hover { background-color: #f0d8d8; }
.pagination > div > *.a { background-color: lightcoral; color: white; border-color: lightcoral; }
.pagination > div > *.p:before { font-family: "icomoon"; content: "\e002"; }
.pagination > div > *.n:before { font-family: "icomoon"; content: "\e001"; }

h3 { display: inline-block; width: 100%; height: 40px; line-height: 40px; text-align: left; margin: 0; margin-top: 40px; font-size: 23px; text-transform: uppercase; font-weight: bold; border-bottom: 2px solid #f3a68c; }
h3:before { display: inline-block; width: 40px; height: 40px; line-height: 40px; text-align: center; color: #999999; font-size: 36px; margin-right: 4px; }
