@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3vaxfd');
  src:  url('fonts/icomoon.eot?3vaxfd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3vaxfd') format('truetype'),
    url('fonts/icomoon.woff?3vaxfd') format('woff'),
    url('fonts/icomoon.svg?3vaxfd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-3:before {
  content: "\e003";
}
.icon-4:before {
  content: "\e004";
}
.icon-2:before {
  content: "\e002";
}
.icon-1:before {
  content: "\e001";
}
.icon-5:before {
  content: "\e005";
}
